[submodule "cheerp"]
	path = cheerp
	url = https://github.com/leaningtech/cheerp-meta.git
[submodule "cheerpj-applet-runner"]
	path = cheerpj-applet-runner
	url = https://github.com/leaningtech/cheerpj-appletrunner.git
[submodule "cheerpj"]
	path = cheerpj
	url = https://github.com/leaningtech/cheerpj-meta.git
