<ul>
  <li><a href="{{page.baseurl}}">Home</a></li>
  <li><a href="{{page.baseurl}}pages/Getting-Started">Getting started</a></li>
  <li>Tutorials
    <ul>
      <li><a href="{{page.baseurl}}pages/Tutorial">CheerpX For Flash</a></li>
      <li><a href="{{page.baseurl}}pages/Bridge-Tutorial">Native Bridge</a></li>
    </ul>
  </li>
  <li><a href="{{page.baseurl}}pages/How-It-Works">How It Works</a></li>
  <li>Additional Features
    <ul>
      <li><a href="{{page.baseurl}}pages/Chrome-Extension">Chrome Extension</a></li>
      <li><a href="{{page.baseurl}}pages/Native-Bridge">Native Bridge</a></li>
    </ul>
  </li>
  <li><a href="{{page.baseurl}}pages/Changelog">Changelog</a></li>
  <li><a href="{{page.baseurl}}pages/Frequently-Asked-Questions">Frequently Asked Questions</a></li>
  <li><a href="{{page.baseurl}}pages/Troubleshooting">Troubleshooting</a></li>
</ul>
