<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
		<div class="header-col-wrapper">
	  <div class="header-col2" style="display:flex; flex-direction: rows;align-self:center;">
		  <a href="/cheerp/" title="Cheerp's documentation & tutorials" style="width:13%; max-width:80px;"><img class="square-logo" rel="me" alt="Cheerp shield logo" style=" padding: 3px; height:fit-content;" src="{{site.baseurl}}/assets/cheerp_only_logo.jpg"></img><div style="font-size:smaller; text-align:center;">Cheerp (C++)</div></a>
		  <a href="/cheerpj/" title="CheerpJ's Documentation" style="width:13%; max-width:80px;"><img class="square-logo" rel="me" alt="CheerpJ shield logo" style=" padding: 3px; height:fit-content;" src="{{site.baseurl}}/assets/cheerpj_only_logo.jpg"></img><div style="font-size:smaller; text-align:center;">CheerpJ (Java)</div></a>
		  <a href="/cheerpj-applet-runner/" title="CheerpJ Applet Runner's documentation" style="width:13%; max-width:80px;"><img class="square-logo" alt="CheerpJ shield logo" rel="me" style=" padding: 3px; height:fit-content;" src="{{site.baseurl}}/assets/cheerpj_only_logo.jpg"></img><div style="font-size:smaller; text-align:center;">CheerpJ Applet Runner</div></a>
		  <a href="https://leaningtech.com/cheerpx/" target="_blank" rel="noopener" title="CheerpX's main page" style="width:13%; max-width:80px;"><img class="square-logo" rel="author" alt="CheerpX shield logo" style=" padding: 3px; height:fit-content;" src="{{site.baseurl}}/assets/cheerpx_only_logo.jpg"></img><div style="font-size:smaller; text-align:center;">CheerpX (x86 VM)</div></a>
		  <a href="/cheerpx-for-flash/" title="CheerpX for Flash documentation" style="width:13%; max-width:80px;"><img class="square-logo" alt="CheerpX shield logo" rel="author" style=" padding: 3px; height:fit-content;" src="/assets/cheerpx_only_logo.jpg"></img><div style="font-size:smaller; text-align:center;">CheerpX For Flash</div></a>
	  </div>
	  <div class="header-col" style="align-self:center;">
		  <a href="https://leaningtech.com" rel="author" target="_blank" title="Leaning Technologies company site">
		  <img class="header-logo" src="{{ "/assets/leaningtech.jpg" | relative_url }}" alt="Leaning Technologies logo"></img>
		  </a>
	  </div>
	  </div>
	  </div>
  <div class="wrapper">

    <div class="footer-col-wrapper" style="color:#4d4c4c; text-align:center; justify-content:center;">
        <p>{{ page.description | escape }}</p>
    </div>
    </div>
  <div class="wrapper">

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
<script>
  anchors.add();
</script>

