<!-- Generic index -->
<ul>
  <li><a href="https://leaningtech.com/">Main Website</a></li>
  <li><a href="{{site.website}}">Product Website</a>
	{%- include index-specific.html -%}    
  </li>
  <li>Documentation
    <ul>
      <li><a href="https://leaningtech.github.io/cheerp-meta/">Cheerp (C++)</a></li>
      <li><a href="https://github.com/leaningtech/cheerpj-meta">CheerpJ (Java)</a></li>
      <li><a href="https://github.com/leaningtech/cheerpj-appletrunner">CheerpJ Applet Runner</a></li>
      <li><a href="https://leaningtech.com/cheerpx/">CheerpX (x86 VM)</a></li>
      <li><a href="https://github.com/leaningtech/cheerpx-flash/wiki">CheerpX For Flash</a></li>
    </ul>
  </li>
  <li><a href="{{site.blog}}">Technical Blog</a></li>
  <li><a href="https://leaningtech.com/contact-us/">Contact us</a></li>
</ul>
