<!-- Generic index -->
<ul style="margin-top:15px">
  <li><a href="https://leaningtech.com/" rel="author" target="_blank">Main Website</a></li>
	{%- include {{page.index-specific}} -%}    
  <li>Documentation
    <ul>
      <li><a href="/cheerp/">Cheerp (C++)</a></li>
      <li><a href="/cheerpj/">CheerpJ (Java)</a></li>
      <li><a href="/cheerpj-applet-runner/">CheerpJ Applet Runner</a></li>
      <li><a href="https://leaningtech.com/cheerpx/" rel="author" target="_blank">CheerpX (x86 VM)</a></li>
      <li><a href="https://github.com/leaningtech/cheerpx-flash/wiki" rel="author" target="_blank">CheerpX For Flash</a></li>
    </ul>
  </li>
  <li><a href="{{site.blog}}" rel="author" target="_blank">Technical Blog</a></li>
  <li><a href="https://leaningtech.com/contact-us/" rel="author" target="_blank">Contact us</a></li>
</ul>
