<ul>
  <li><a href="{{page.baseurl}}">Home</a></li>
  <li><a href="{{page.baseurl}}Getting-Started">Getting started</a>
    <ul>
      <li><a href="{{page.baseurl}}Tutorial">Tutorial</a></li>
    </ul>
  </li>
  <li><a href="{{page.baseurl}}CheerpJ-demos">Demos</a></li>
  <li><a href="{{page.baseurl}}Command-Line-Options">Command line options</a></li>
  <li>APIs
    <ul>
      <li><a href="{{page.baseurl}}Runtime-API">Runtime API</a></li>
      <li><a href="{{page.baseurl}}WebWorker-API">WebWorker API</a></li>
      <li><a href="{{page.baseurl}}Startup-time-optimization">Startup time optimization</a></li>
      <li><a href="{{page.baseurl}}File-System-support">File System support</a></li>
      <li><a href="{{page.baseurl}}DOM-and-JavaScript-interoperability">DOM and JavaScript interoperability</a></li>
      <li><a href="{{page.baseurl}}Implementing-Java-native-methods-in-JavaScript">Implementing Java native methods in JavaScript</a></li>
    </ul>
  </li>
  <li><a href="{{page.baseurl}}Changelog">Changelog</a></li>
  <li><a href="{{page.baseurl}}Frequently-Asked-Questions">FAQs (Frequently asked questions)</a></li>
</ul>
