<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
	  {%- include header-empty.html -%}
    <div class="page-content wrapper middle-section">
	    <div class="row">
      <main aria-label="Content">
	{{ content }}

	{%- include search.html -%}
	<script>
	  function callBack(){
		var str = window.location.pathname.replace(/\//g, " ").replace("-", " ");
		document.getElementById('search_input').value = str;
		onChange(str);
	  };
	</script>
      </main>
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
